# **Download Data**

In [ ]:
!wget https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip

In [ ]:
!unzip Data.zip

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
#(your)My code here
df = pd.DataFrame()
for i in range(10):
    df1 = pd.read_csv("Data/Students_info_" + str(i) + ".csv")
    df2 = pd.read_csv("Data/Students_marks_" + str(i) + ".csv")
    df = pd.concat([df, pd.merge(df1, df2, on="index")])
#print(df.shape)    # (1000, 10)
df.sample(n=10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
42,342,female,group B,high school,standard,completed,group4,69,76,74
63,263,female,group E,high school,standard,none,group3,99,93,90
78,578,female,group B,some college,free/reduced,completed,group6,48,56,58
88,688,male,group A,high school,free/reduced,none,group7,53,58,44
80,780,female,group D,associate's degree,free/reduced,none,group8,46,56,57
44,744,male,group B,some college,free/reduced,none,group8,55,55,47
33,333,male,group B,associate's degree,standard,none,group4,90,78,81
81,181,female,group C,some college,free/reduced,none,group2,46,64,66
83,383,female,group E,some high school,free/reduced,none,group4,38,49,45
46,446,male,group D,some college,free/reduced,none,group5,69,66,60

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
#(your)My code here
df = df.drop(columns='index')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
# (your)My code here
df.shape    # было 10 столбцов, стало 9 -- значит, не накосячил =)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
# (your)My code here
df.describe()   # крутая штука! одна строчка -- и сразу все характеристики )

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
# (your)My code here
df.info()   # тоже круто: показывает, что в каждом столбце 1000 non-null элементов -- пропущенных(NaN) значений нет :)
#df.isna().sum()    # либо так: везде 0 NaN элементов

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   group                        1000 non-null   object
 6   math score                   1000 non-null   int64
 7   reading score                1000 non-null   int64
 8   writing score                1000 non-null   int64
dtypes: int64(3), object(6)
memory usage: 78.1+ KB

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
# (your)My code here
df[['math score', 'reading score', 'writing score']].mean()
#df.mean()  # так тоже можно, но так warning кидает

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
# (your)My code here
df.groupby('test preparation course').mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
# (your)My code here
set(df['lunch'])
#print(pd.unique(df['lunch']))  #same

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
# (your)My code here
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# (your)My code here
# 1
print("1q : ", df[df['math score'] >= passmark]['math score'].count() / df['math score'].count())

# 2
print("2q : ", len(df[(df['test preparation'] == 'completed') & (df['math score'] >= passmark)].index) / len(df[df['test preparation'] == 'completed']))

# 3
print("3q : ", df[(df['gender'] == 'female') & (df['test preparation'] == 'none') & (df['math score'] < passmark)].shape[0] /  df[(df['gender'] == 'female') & (df['test preparation'] == 'none')].shape[0])

1q :  0.865
2q :  0.9217877094972067
3q :  0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# (your)My code here
# 1
%%time
print("1q : ", df.groupby('race/ethnicity')['reading score'].mean())

1q :  race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
CPU times: user 5.6 ms, sys: 0 ns, total: 5.6 ms
Wall time: 5.86 ms

In [ ]:
# 2
%%time
print("2q : ", df.groupby('education')['writing score'].min())

2q :  education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: user 4.5 ms, sys: 898 µs, total: 5.4 ms
Wall time: 8.05 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
# (your)My code here
# 1
%%time
sum_readScores = {}
count_readScores = {}
for i, row in df.iterrows():
    sum_readScores[row['race/ethnicity']] = sum_readScores.get(row['race/ethnicity'], 0) + row['reading score']
    count_readScores[row['race/ethnicity']] = count_readScores.get(row['race/ethnicity'], 0) + 1
for each in sorted(sum_readScores):
    print(each, " : ", sum_readScores[each] / count_readScores[each])

group A  :  64.67415730337079
group B  :  67.35263157894737
group C  :  69.10344827586206
group D  :  70.03053435114504
group E  :  73.02857142857142
CPU times: user 64.8 ms, sys: 504 µs, total: 65.3 ms
Wall time: 69.8 ms

*Для 1го вопроса: groupby в 9-10 раз быстрее, чем самому делать через циклы*

In [ ]:
# 2
%%time
min_writeScores = {}
for i, row in df.iterrows():
    min_writeScores[row['education']] = min(min_writeScores.get(row['education'], 101), row['writing score'])
for each in sorted(min_writeScores):
    print(each, " : ", min_writeScores[each])

associate's degree  :  35
bachelor's degree  :  38
high school  :  15
master's degree  :  46
some college  :  19
some high school  :  10
CPU times: user 64.1 ms, sys: 924 µs, total: 65 ms
Wall time: 71 ms

*Для 2го вопроса: идентично, groupby в 9-10 раз быстрее, чем самому делать через циклы*

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
from numpy.core.fromnumeric import mean
# (your)My code here
pd.pivot_table(df, index=['gender', 'education'], aggfunc={'math score' : mean, 'reading score' : mean, 'writing score' : mean})

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
# (your)My code here
# math
df['Math_PassStatus'] = df['math score'].apply(lambda score: 'F' if score < passmark else 'P')
print("MATH :")
print(df['Math_PassStatus'].value_counts())
print()

# reading
df['Reading_PassStatus'] = df['reading score'].apply(lambda score: 'F' if score < passmark else 'P')
print("READING :")
print(df['Reading_PassStatus'].value_counts())
print()

# writing
df['Writing_PassStatus'] = df['writing score'].apply(lambda score: 'F' if score < passmark else 'P')
print("WRITING :")
print(df['Writing_PassStatus'].value_counts())
print()

MATH :
P    865
F    135
Name: Math_PassStatus, dtype: int64

READING :
P    910
F     90
Name: Reading_PassStatus, dtype: int64

WRITING :
P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# (your)My code here
def AllPass(statuses):
    math, reading, writing = statuses
    if (math == 'F' or reading == 'F' or writing == 'F'):
        return 'F'
    return 'P'

df['OverAll_PassStatus'] = df[['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']].apply(AllPass, axis=1)
df[df['OverAll_PassStatus'] == 'P'].shape[0]
# df['OverAll_PassStatus'].value_counts()   # можно посмотреть кол-во сдавших и кол-во не сдавших

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
    # (your)My code here
    math, reading, writing = average_mark
    average_mark = (math + reading + writing) / 3
    if (average_mark > 90):
        return 'A'
    if (average_mark > 80):
        return 'B'
    if (average_mark > 70):
        return 'C'
    if (average_mark > 60):
        return 'D'
    if (average_mark > 50):
        return 'E'
    return 'F'

# (your)My code here
df['Grade'] = df[['math score', 'reading score', 'writing score']].apply(GetGrade, axis=1)
df['Grade'].value_counts()

D    260
C    253
E    184
B    144
F    109
A     50
Name: Grade, dtype: int64